
h1{

    font-size: medium;
    color: orange;

}
.heading{
    font-size: 35px;
    color: darkgreen;
      
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.images{
    height:300px;
    width: 500px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.text {
    font-size: 12px;
}
body {
    margin-right: 15%;
    margin-left : 15%;
}
table {
    margin-right: 5%;
    margin-left: 5%;
}